@page "{id:int?}"
@model DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Er du sikker på at du vil slette denne telefon?</h1>

<div class="col-3">
    <div class="card mb-4 grow-shadow">
        <div class="card-header"><h2>@Model.Phone.Company.CompanyName</h2></div>
        @if (!string.IsNullOrEmpty(Model.Phone.Photo.PhonePhoto))
        {
            <img style="height: 16rem; width: 100%" class="card-img" src="@Model.Phone.Photo.PhonePhoto" />
        }
        else
        {
            <img style="height: 16rem; width: 100%" class="card-img" src="~/notfound.png" />
        }
        <div class="card-body text-dark">
            <h4>@Model.Phone.PhoneName</h4>
            @if (Model.Phone.Price <= 0)
            {
                <p class="font-weight-bold text-success">GRATIS</p>
            }
            else
            {
                <p class="font-weight-bold">$@Model.Phone.Price</p>
            }
        </div>
    </div>
</div>

<form method="post">
    <input type="hidden" asp-for="Phone.PhoneID" />
    <input type="submit" value="Delete" class="btn btn-default" />
    <partial name="_PartialForm" />

</form>